@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;  
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

input,
textarea,
select {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

@media (max-width: 768px) {
  .content {
    padding-top: 120px;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

p {
  font-weight: 300;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

img, video {
  width: 100%;
  height: auto;
}

hr {
  border: 1px solid #ccc;
}
