.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
  box-shadow: none;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #333;
  text-transform: uppercase;
  margin-left: 20px;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 18px;
  width: 30px;
  cursor: pointer;
  z-index: 10001;
  position: relative;
}

.line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #333;
  transition: all 0.3s ease;
  left: 0;
}

.line1 {
  top: 0;
}

.line2 {
  top: 7.5px; 
}

.line3 {
  top: 15px;
}

.line1.active {
  transform: rotate(45deg);
  top: 10.5px;
  background-color: #fff;
}

.line2.active {
  opacity: 0;
}

.line3.active {
  transform: rotate(-45deg);
  top: 10.5px;
  background-color: #fff;
}

.menu-links {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.menu-links.active {
  display: flex;
  transform: translateX(0);
}

.menu-item {
  font-size: 24px;
  color: #fff;
  margin: 15px 0;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu-item:hover {
  color: #5C3A21;
}

@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }

  .menu-links {
    display: flex;
    flex-direction: row;
    position: static;
    transform: none;
    height: auto;
    justify-content: flex-end;
    width: auto;
    margin-top: 0;
  }

  .menu-item {
    font-size: 18px;
    color: #333;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
  }

  .menu-item:hover {
    color: #8f300e;
  }

  .menu-item.active {
    color: #8f300e;
  }
}

@media (max-width: 768px) {
  .navbar {
    background-color: #f5f5f5;
    padding-top: 10px;
  }

  .logo{
    margin: 0 ;
  }

  .navbar-container {
    position: static;
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    cursor: pointer;
    z-index: 10001;
  }
  .menu-links {
    background-color: rgba(0, 0, 0, 0.9);
  }
}
