.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #5C3A21;
  color: #fff;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  font-size: 26px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

.scroll-to-top:hover {
  opacity: 1;
  transform: scale(1.1);
}
